<%= form_with(model: [ @document, @document.comments.build ], local: true ) do |form| %>
	<p>
		<%= form.label :commenter %>
		<%= form.text_field :commenter %>
	</p>	
	<p>
		<%= form.label :body %>
		<%= form.text_field :body %>
	</p>
	<p>
		<%= form.submit %>
	</p>
<% end %>